version: 2.1
jobs:
  splash:
    docker:
      - image: circleci/android:api-29
    environment:
      JVM_OPTS: -Xmx2048m
      GRADLE_OPTS: -Xmx1536m -XX:+HeapDumpOnOutOfMemoryError -Dorg.gradle.configureondemand=true -Dkotlin.compiler.execution.strategy=in-process -Dkotlin.incremental=false
    steps:
      - checkout
      - run: ./gradlew :_splash:testDebugUnitTest :_splash:assemble --no-daemon --no-build-cache --refresh-dependencies
  list:
    docker:
        - image: circleci/android:api-29
    environment:
      JVM_OPTS: -Xmx2048m
      GRADLE_OPTS: -Xmx1536m -XX:+HeapDumpOnOutOfMemoryError -Dorg.gradle.configureondemand=true -Dkotlin.compiler.execution.strategy=in-process -Dkotlin.incremental=false
    steps:
      - checkout
      - run: ./gradlew :_list:testDebugUnitTest  :_list:assemble --no-daemon --no-build-cache --refresh-dependencies
workflows:
  version: 2.1
  test:
    jobs:
      - splash
      - list
